{
	presets: [
		['env', {
			targets: {
				node: 4
			},
			'useBuiltIns': true
		}]
	],
	plugins: [
		'transform-runtime',
		'transform-object-rest-spread',
		'transform-export-extensions'
	],
	env: {
		test: {
			plugins: [
				'istanbul'
			]
		}
	}
}
